<nav class="navbar navbar-light bg-light fixed-bottom">
        <div class="container-fluid">
            <p id='time'>{{now}}</p>
            {% if hour > 18 %}
                <h2> 晚安 </h2>
            {% elif hour < 10 %}
                <h2> 早安 </h2>
            {% else %}
                <h2> 午安 </h2>
            {% endif %}
        </div>
</nav>


<script>
    setInterval(function(){
        //console.log(moment().format('YYYY-MM-DD HH:mm:ss'))
        $('#time').text(moment().format('YYYY-MM-DD HH:mm:ss'))
    }, 1000);
    // setInterval(event, times)
</script>