<!doctype html>
<html lang="en">
  {% include "video/header.html" %}
  <body>
    {% include "video/navbar.html" %}
    <div class='container'>
        {% block content %}
        {% endblock %}
    </div>
    {% include "video/footer.html"%}
  </body>
</html>
