{% extends "live_base.html" %}
{% block content%}
<div class='row'>
    {% comment %} col-x (1-12) {% endcomment %}
    <div class= 'col-6'> 
        <iframe width="300" height="175" src="https://www.youtube.com/embed/{{course.tvcode}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class='col-6'>
        {% if cars %}
        <table>
            <tr><td>車廠</td><td>車款</td></tr>
        {% endif %}
        {% for c in cars %}
            <tr bgcolor="{% cycle '#eeeeee' '#cccccc' '#8c8c8c' %}">
            <td>{{maker_name}}</td><td>{{ c }}</td>
            </tr>
            {% empty %}
            <h3>車廠<em>{{maker_name}}</em>目前無庫存車</h3>
        {% endfor %}
        {% if cars %}
        </table>
        {% endif %}
    </div>
<div>    
{% endblock%}