<script id="_waurg4">var _wau = _wau || []; _wau.push(["map", "3mg7nl9zh5", "rg4", "250", "125", "night", "cross-pink"]);</script><script async src="//waust.at/m.js"></script>
<script id="_waufwe">var _wau = _wau || []; _wau.push(["classic", "468y1ph1wd", "fwe"]);</script><script async src="//waust.at/c.js"></script>
<div class='col-sm-4 col-md-4'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h3>	
                MENU
            </h3>
        </div>
        <div class='panel-body'>
            <div class='list-group'>
                <a href='/' class='list-group-item'>HOME</a>
                <a href='/admin' class='list-group-item'>管理頁面</a>
                <a href='#' class='list-group-item'>預備連結</a>
            </div>                
        </div>
    </div>
</div>

